<footer class="footer">
  <small>
    <%=link_to "Round App", root_path%>
    by Jaga
  </small>
  <nav>
    <ul>
      <li><%= link_to "UT LemonSmash",   'http://lemonsmashut.wix.com/lemon-smash-' %></li>
      <li><%= link_to "Contact",   'https://twitter.com/aug_jaga' %></li>
      <li><%= link_to "TECH_SALON","http://tech-salon.com"%></li>
    </ul>
  </nav>
</footer>
