<footer class="footer">
  <small>
    <%=link_to "Book Bucket", root_path%>
    by from_Orange
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "TECH_SALON","http://tech-salon.com"%></li>
    </ul>
  </nav>
</footer>
